@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BMEuljirooraeorae";
  src: url("../font/BMEuljirooraeoraeOTF.otf");
  font-weight: normal;
}

@font-face {
  font-family: "BMHANNAProOTF";
  src: url("../font/BMHANNAProOTF.otf");
}

@font-face {
  font-family: "Spoqa Han Sans Neo Thin";
  src: url("../font/SpoqaHanSansNeo-Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Spoqa Han Sans Neo Light";
  src: url("../font/SpoqaHanSansNeo-Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Spoqa Han Sans Neo Regular";
  src: url("../font/SpoqaHanSansNeo-Regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Spoqa Han Sans Neo Medium";
  src: url("../font/SpoqaHanSansNeo-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Spoqa Han Sans Neo Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.otf");
  font-weight: 700;
}

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: white;
  min-width: 325px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* naver map custom marker styles */
.naver-map-custom-marker {
  background-color: black;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
}

.naver-map-custom-marker:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 20px solid black;
  position: absolute;
  bottom: -6px;
}

.naver-map-custom-marker-inner {
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 100%;
  z-index: 1;
  box-sizing: border-box;
  padding: 4px;
}

/* naver map custom overlay styles */
.naver-map-custom-infowindow {
  width: 95vw;
  /* height: 120px; */
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(2px);
  mix-blend-mode: normal;
  border-radius: 12px;
  padding: 16px;
}

.naver-map-custom-infowindow .info-section {
  padding: 6px;
}

.naver-map-custom-infowindow .info-section__title {
  display: flex;
  align-items: center;
  gap: 3px;
}

.naver-map-custom-infowindow .info-section__title .info-section__name {
  font-family: "Spoqa Han Sans Neo Medium";
  font-size: 18px;
}

.naver-map-custom-infowindow .info-section__title .open {
  font-family: "Spoqa Han Sans Neo Medium";
  font-size: 18px;
}

.naver-map-custom-infowindow .info-section__address {
  font-family: "Spoqa Han Sans Neo Regular";
  font-size: 12px;
  margin-bottom: 12px;
}

.naver-map-custom-infowindow .info-section .info-section__time {
  font-family: "Spoqa Han Sans Neo Regular";
  font-size: 12px;
}

.naver-map-custom-infowindow .info-section__title .open {
  background-color: #2563eb;
  color: #ffffff;
  border-radius: 12px;
  font-family: "Spoqa Han Sans Neo Medium";
  width: fit-content;
  padding: 2px 6px;
  font-size: 12px;
}

.naver-map-custom-infowindow .info-section__desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-family: "Spoqa Han Sans Neo Light";
  font-size: 14px;
  /* white-space: nowrap; */
}
